*{
    margin: 0 auto;
    padding: 0;
    /* width: 1600px; */
    box-sizing: border-box;
}

.inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
/*-----------------------------------------------------------------------------------------------------------Nav-bar-start-----------------------*/
#nav{
   display: flex;
   padding: 16px 120px;
   justify-content: space-between;
   gap: 344px;

}
.nav-logo{
    max-width: 139px;
    max-height: 60px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}
.nav-menu{
    margin: 0;
}
.nav-menu ul{
    display:flex;
    gap: 32px;
    padding: 34px 0;
    width: 369px;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.nav-btn{
    margin: 0;
    padding: 24px 0;
}
.nav-btn button{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.nav-btn button:hover{
    background-color:#FD6E0A;
    color: #000000;
}
.nav-menu ul li a:hover{
    color: #FD6E0A;
}
/* ----------------------------------------------------------------------------------------------------------------nav-bar-complite-------- */

/* *****************************************************************************************"Banner-Start"*********************************** */
