*{
    margin: 0 auto;
    padding: 0;
    /* width: 1600px; */
    box-sizing: border-box;
}

.inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
/*-----------------------------------------------------------------------------------------------------------Nav-bar-start-----------------------*/
#nav{
   display: flex;
   padding: 16px 120px;
   justify-content: space-between;
   gap: 344px;

}
.nav-logo{
    max-width: 139px;
    max-height: 60px;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}
.nav-menu{
    margin: 0;
}
.nav-menu ul{
    display:flex;
    gap: 32px;
    padding: 34px 0;
    width: 369px;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.nav-btn{
    margin: 0;
    padding: 24px 0;
}
.nav-btn button{
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.nav-btn button:hover{
    background-color:#FD6E0A;
    color: #000000;
}
.nav-menu ul li a:hover{
    color: #FD6E0A;
}
/* ----------------------------------------------------------------------------------------------------------------nav-bar-complite-------- */

/* *****************************************************************************************"Banner-Start"*********************************** */
#banner{
    padding: 115.5px 120px 179.5px;
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    max-height: 674px;
    max-width: 1600px;
}
.p-h{
    font-size: 16px;
    color: #469165;
     background-color:rgba(255, 255, 255, 1);
     margin-left: 565.5px;
     margin-right: 565.5px;
     margin-bottom: 16px;
     padding: 1.5px 0;
     border-radius: 1000px;

}
.p-h span{
    height: 16px;
    width: 16px;
    background-color: #469165; border-radius:1000px;
}
.banner-contant h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}
.banner-contant h1 span{
    color: rgba(48, 184, 104, 1);
}
.p-b{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
    color: rgba(255, 255, 255, 1);
}

.btn-1{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 19px;
    font-weight: 600px;
    padding: 12px 16px 12px 16px;
    text-transform: capitalize;
    background-color:#30B868;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-2{
     font-size: 16px;
     color: rgba(255, 255, 255, 1);
    line-height: 19px;
    font-weight: 600px;
    padding: 12px 16px 12px 16px;
    text-transform: capitalize;
    border-radius: 4px;
    background:transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}
.btn-1:hover{
    background-color:#FD6E0A;
    color: #000000;
}
.btn-2:hover{
 color:#FD6E0A;
 border-color: #FD6E0A;
   
}
/* ***************************************************************************************Banner-done- */



/* **********************************************************************************idea-start******* */
#idea{
    padding: 0 120px;
    /* text-align: center; */
}
.about-idea{
    text-align: center;
    margin-bottom: 44px;

}
.about-idea h1{
    margin-top: 50px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.about-idea p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.idea-cotainer{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.idea-card{
    padding: 24px;
    box-shadow:0 0 8px #0000001e;
    max-width: 322px;
    max-height: 300px;
    margin: 0px;
    text-align: center;
    border: none;
    
}
.idea-card img{
    background-color:#F95555;
    border-radius:50%;
    margin-bottom: 16px;
    margin-top: 45.5px;
   
}
.idea-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.idea-card p{
    font-size: 16px;
    line-height: 20x;
    color: #627382;
    margin-bottom: 69.5px;
}
/* *******************************************************************************************idea-compleate*********** */